---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Astro Deploy Test">
	<main>
		<h1>Welcome</h1>
			<div class="instructions">
			<div class="question">
			<div class="right">?</div>
			<div class="middle">+</div>
			<div class="left">?</div>
		</div>

		</div>
		<button id="btn">スタート</button>

<div class ="numbers">
	<div class="up">
		<ul>
			<li>9</li>
			<li>8</li>
			<li>7</li>
		</ul>
	</div>
	<div class="mid">
		<ul>
			<li>6</li>
			<li>5</li>
			<li>4</li>
		</ul>
	</div>
	<div class="low">
		<ul>
			<li>3</li>
			<li>2</li>
			<li>1</li>
		</ul>
	</div>
	<div class="zero">
		<ul>
			<li>0</li>
		</ul>
	</div>
</div>
		
		
	</main>
	
</Layout>

<script>
	
const meke_num = () => {
	const rondamNum_one= Math.floor(Math.random()*10)+1;
	const rondamNum_two= Math.floor(Math.random()*10)+1;
	const one = document.querySelector('.right');
	const two = document.querySelector('.left');
	one.textContent =String(rondamNum_one);
	two.textContent =String(rondamNum_two);
	console.log(rondamNum_one);
	console.log(rondamNum_two);
}

const start = document.getElementById('btn');
start.addEventListener("click",()=>{
	meke_num();		
})	



const one = document.querySelector('.right');
const two = document.querySelector('.left');
const total = Number(one.textContent) + Number(two.textContent);
console.log(total);


		


</script>

<style>
	.question {
		display: flex;
	}
	.hoge {
		width: 80px;
		height: 20px;
	}
	main {
		text-align: center;
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.numbers {
		text-align: center;
		justify-content: center;
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
	    text-align: center;
		justify-content: center;			
	}

	li {
		width: 60px;
		background-color: aliceblue;
		list-style: none;
		margin-left:1rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
		font-size: 4rem;
	}
	.right,
	.middle,
	.left {
		font-size: 3rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	
</style>
