---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Astro Deploy Test">
	<main>
		<h1>Welcome</h1>
			<div class="instructions">
			<div class="question">
			<div class="right">?</div>
			<div class="middle">+</div>
			<div class="left">?</div>
		</div>

		</div>
		<button id="btn">問題</button>
		<input id ="ans" type="number" class="hoge">	
		<button id="answer">答える</button>
		<p class="instructions">
			this is space
		</p>
		
		<p class="instructions">
			this is space
		</p>		
		
	</main>
	
</Layout>

<script>
	
	const meke_num = () => {
		const rondamNum_one= Math.floor(Math.random()*10)+1;
		const rondamNum_two= Math.floor(Math.random()*10)+1;
		const one = document.querySelector('.right');
		const two = document.querySelector('.left');
		one.textContent =String(rondamNum_one);
		two.textContent =String(rondamNum_two);
		console.log(rondamNum_one);
		console.log(rondamNum_two);
	}

		document.getElementById('btn').addEventListener("click",()=>{
		meke_num();		
	})	

	const answer = document.getElementById('answer');
	answer.addEventListener("click",() => {
		const one = document.querySelector('.right');
		const two = document.querySelector('.left');
		const ans = document.getElementById('ans');
		const total = Number(one.textContent) + Number(two.textContent);
		console.log(total);


		if(total === Number(ans.value)){
			alert('正解です')
			ans.value= "";
			meke_num();		
		}

		

	});
</script>

<style>
	.question {
		display: flex;
	}
	.hoge {
		width: 80px;
		height: 20px;
	}
	main {
		text-align: center;
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.right,
	.middle,
	.left {
		font-size: 3rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	
</style>
